<nav style="border-bottom: 1px solid rgb(153, 146, 146);" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">Bus Registration System</a>
        </div>
        <div>
            <form class="d-flex ">

                <button class="btn btn-outline-success" type="submit">Login/Signup</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="card p-2">
        <div class="flex">
            <button class="btn">About</button>
            <button class="btn">Terms of use</button>
            <button class="btn">Contact Us</button>
        </div>
    </div>
</div>