<div class="container main">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center main w-75">
                <div class="card-body">
                    <h3 class="card-title">Upcoming Journey</h3>
                    <p>
                        <span>{{bookingData?.departureStation}}</span> <span><i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i></span> <span>{{bookingData?.destinationStation}}</span>
                    </p>
                    <button class="btn btn-danger mx-2">Cancel</button>
                    <button class="btn btn-success mx-2">Print</button>

                </div>
            </div>
        </div>
    </div>
</div>